<form>

    <div class="form-group">
        <label for="listaDeshabilitada">Lista deshabilitada</label>
        <select id="listaDeshabilitada" class="form-control">
          <option></option>
          <option>Permiso para sepultar</option>
          <option>Temporalidad</option>
        </select>
      </div>

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido Paterno</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido Paterno">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido Materno</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido Materno">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre(s)</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Nombre(s)">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Direccion</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Direccion">
    </div>
  </div>

 <div class="form-group">
      <label for="listaDeshabilitada">Lotes</label>
      <select id="listaDeshabilitada" class="form-control">
        <option></option>
        <option>Lotes vacios</option>
      </select>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>